---
layout: default
title: 武汉 · 人间
description: 纪录武汉同胞口罩中的呐喊 | Humanitarian Crisis in Wuhan
comment_issue_id:
---

<div class="content">
  <div class="randomize">
  {% for post in paginator.posts %}
    {% if post.name_ %}
      <div><br></div>
      <article>
        <header>
          <a href="{{ post.status_url }}"><h2 style="padding: 0 min(4vw, 8em);">{{ post.name_ }}, {{ post.age_ }}岁,{{ post.desc_ | strip_html | truncate:35 }}</h2></a>
          {% if post.desc_.size > 150 %}
            <p>{{ post.desc_ | strip_html }}</p>
          {% else %}
            <p>{{ post.content_full_raw | strip_html }}</p>
          {% endif %}

          {% if post.imageurl %}
          <a onclick="$(this).next().toggle()" href="javascript:void(0)">图片</a>
          <ul class="image-gallery" >
            {%  assign urls = post.imageurl | split: "," %}
            {% for url_wb in urls %}
              <li>
                {% capture url_local %}{{url_wb | split: "/" | last}}{% endcapture %}
                <a href="{{site.url}}/assets/weibo_img/{{url_local}}">
                  <img src="{{site.url}}/assets/weibo_img/{{url_local}}" alt="">
                </a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}

          <h5 style="text-align-last:end;"><br>{{ post.date | date: "%b %d" }}<br>{{post.address_}}, {{post.city_}}</h5>
        </header>
      </article>
    {% else %}
    {% endif %}
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a href="{{ site.siteurl }}/">&laquo; Prev</a>
      {% else %}
        <a href="{{ site.siteurl }}/page{{ paginator.previous_page }}/">&laquo; Prev</a>
      {% endif %}    
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% if paginator.next_page %}
      <a class='next' href="{{ site.siteurl }}/page{{ paginator.next_page }}/">Next &raquo;</a>
    {% else %}
      <span class='next'>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
  </div>
</div>


<script src="{{ site.siteurl }}/js/jquery-1.11.1.js"></script>
<script src="{{ site.siteurl }}/js/jscroll/jquery.jscroll.js"></script>



{% include randomize.html %}

<script type="text/javascript">
// content selector is used to extract the additional items 
$('.content').jscroll({
    contentSelector: ".content",
    nextSelector: '.next'
});
</script>